@import "tailwindcss";
::-webkit-scrollbar {
  padding-left: 5px;
  margin-left: 5px;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 5px; /* Bo tròn góc thumb */
}
::-webkit-scrollbar-thumb {
  border-radius: 2px; /* Bo tròn góc thumb */
  transition: all 0.3s;
  background: #b5c6d4; /* Màu của thumb */
}
::-webkit-scrollbar-thumb:hover {
  background: #8ba6bb; /* Màu khi hover lên thumb */
}
body,
#root {
  position: fixed;
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  -webkit-app-region: drag;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.app {
  @apply w-full h-full flex;
}
.op-left-tools {
  @apply transition-all duration-300;
  @apply bg-white w-[300px] 
  min-w-[300px] !p-0 border-[#0003] border-l-1;
}
.op-right-tools {
  @apply transition-all duration-300;
  .item {
    user-select: none;
    @apply flex items-center px-3 py-2.5 gap-3 pl-4 rounded-[4px] text-[#7e7e7e];
    @apply transition-all duration-300 hover:text-[#006eff] hover:bg-[#e7effc] cursor-pointer;
    &:last-child {
      border-bottom: none;
    }
  }
}
.login-modal {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #1b2e47;
  .form {
    -webkit-app-region: no-drag;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 400px;
    border-radius: 20px;
    animation: fadeInTop 0.4s ease-in-out;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .form button {
    align-self: flex-end;
  }
  .flex-column > label {
    color: #151717;
    font-weight: 600;
  }
  .inputForm {
    border: 1.5px solid #d6d6d6;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    transition: 0.2s ease-in-out;
    input {
      padding: 5px;
      border-radius: 6px;
      width: -webkit-fill-available;
      outline: none;
      background-color: transparent;
    }
  }
  .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
  }
  .input:focus {
    outline: none;
  }
  .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    &:hover {
      color: white !important;
      background-color: #0059ff !important;
    }
  }
  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }

  .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .btn:hover {
    border: 1px solid #2d79f3;
  }
}
.loading_box {
  display: flex;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s;
  &.fadeOut {
    opacity: 0;
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      width: 90%;
      z-index: 1;
      position: absolute;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #0003;
    }
    .loader {
      --dim: 2.4rem;
      width: var(--dim);
      height: var(--dim);
      position: relative;
      animation: spin988 2s linear infinite;
    }
    .loader {
      width: 52px;
      height: 52px;
      background: #166db9;
      display: block;
      margin: 20px auto;
      position: relative;
      box-sizing: border-box;
      animation: rotationBack 1s ease-in-out infinite reverse;
    }
    .loader::before {
      content: "";
      box-sizing: border-box;
      left: 0;
      top: 0;
      transform: rotate(45deg);
      position: absolute;
      width: 50px;
      height: 50px;
      background: #02427a;
      box-shadow: 0 0 5px #0003;
    }
    .loader::after {
      content: "";
      box-sizing: border-box;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      background: #085ea3;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
  }
}
.whiteTitle {
  @apply bg-white flex justify-between h-[60px] border-b-1 border-[#0003] items-center;
  padding: 0px 16px;
  font-size: 16px;
}
.search {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  .searchbox {
    background-color: #e6e6e6;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 4px 6px 4px 8px;
    gap: 6px;
    border: 1px solid #e4e4e4;
    transition: all 0.3s;
    .icon {
      color: #727272;
    }
    &:focus-within {
      border: 1px solid #0099ff;
      .icon {
        color: #0099ff;
      }
    }
    input {
      outline: none;
      width: 180px;
    }
  }
}
.main-list {
  @apply flex flex-col flex-1 w-full overflow-hidden bg-gray-200 z-10;
  height: 100%;
  .main-container {
    @apply flex flex-col flex-1 overflow-hidden;
    -webkit-app-region: no-drag;
    div {
      -webkit-app-region: no-drag;
    }
    .left-menu {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      width: 280px;
      height: 100%;
      border-right: 1px solid #0003;
      animation: fadeInRight 0.4s ease-in-out;
      position: relative;
      transition: all 0.3s;
      z-index: 1;
      .show-btn {
        position: absolute;
        right: -8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 0px 12px 12px 0px;
        border: 1px solid #0003;
        border-left: hidden;
        height: 54px;
        color: #999;
        width: 8px;
        top: calc(50% - 27px);
        cursor: pointer;
        font-size: 11px;
        z-index: 10;
        svg {
          right: 1px;
          position: absolute;
          transition: all 0.3s;
        }
      }
      .top-nav {
        height: 60px;
        border-bottom: 1px solid #0003;
        display: flex;
      }
      .items {
        display: flex;
        flex-direction: column;
        .item {
          display: flex;
          align-items: center;
          font-size: 14px;
          cursor: pointer;
          transition: all 0.3s;
          color: #555;
          .icon {
            color: #999;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 52px;
            font-size: 20px;
            transition: all 0.3s;
          }
          .name {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            white-space: nowrap;
          }
          &:hover {
            color: #000;
            background-color: #eee;
            .icon {
              color: #000;
            }
          }
          &.active {
            color: #0f82d5;
            background-color: #eaf4ff;
            .icon {
              color: #0f82d5;
            }
          }
        }
      }
      &.mini {
        width: 90px;
        .show-btn {
          svg {
            transform: rotate(180deg);
          }
        }
        .searchbox {
          width: 0px;
          padding: 0px;
          overflow: hidden;
          border: none;
        }
        .items {
          .item {
            justify-content: center;
            position: relative;
            .name {
              display: none;
            }
            &:hover {
              .name {
                display: flex;
                position: absolute;
                white-space: nowrap;
                left: calc(100% + 1px);
                background-color: #fff;
                padding-left: 8px;
                padding-right: 8px;
                width: unset;
                border-radius: 0px 8px 8px 0px;
                z-index: 1;
                box-shadow: 2px 2px 4px #0001;
              }
            }
          }
        }
      }
    }
    .left-tabs {
      z-index: 1;
      animation: fadeInRight 0.4s ease-in-out;
      @apply shadow shadow-black/10 p-1 gap-1 overflow-hidden flex flex-col w-[180px] min-w-[180px] bg-white rounded-lg;
      .item {
        @apply text-[#999] bg-white rounded-[6px] gap-1 flex text-[13px] items-center cursor-pointer transition-all duration-300;
        &:hover {
          color: #18263b;
          background-color: #eef3fb;
        }
        &.active {
          color: #161a20;
          background-color: #e3e8f0;
        }
        .icon {
          @apply w-8 h-9 text-[18px] flex justify-center items-center;
        }
      }
    }
    .plan-views {
      input[type="date"] {
        @apply rounded-[6px] px-1 text-[13px];
        background-color: #e7e7e7;
        border: 1px solid #cccccc;
        color: #222020;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          color: #003c91;
          border: 1px solid #1677ff;
        }
      }
      button.create {
        background-color: #e7e7e7;
        color: #222020;
        border: 1px solid #cccccc;
        padding: 2px 10px 2px 2px;
        &:hover {
          color: #003c91;
          border: 1px solid #1677ff;
        }
      }
      button.edit {
        background-color: #e7e7e7;
        color: #222020;
        border: 1px solid #cccccc;
        padding: 4px 6px;
        &:hover {
          color: #003c91;
          border: 1px solid #1677ff;
        }
      }
      @apply flex flex-1 gap-1 overflow-hidden;
      .plan_details {
        @apply flex flex-1 flex-col overflow-hidden min-w-[400px];
        .plan-overview {
          @apply bg-white flex flex-col rounded-[8px] shadow shadow-black/10;
        }
        .preview_table {
          user-select: text !important;
          overflow: hidden;
          @apply mt-2;
          .ant-table-content {
            padding-bottom: 6px;
          }
          .ant-table-pagination.ant-pagination {
            @apply flex justify-start;
            margin: 6px 0px 4px 0px;
            .ant-pagination-item,
            .ant-pagination-prev,
            .ant-pagination-next {
              min-width: 26px;
              height: 26px;
              button {
                display: flex;
                align-items: center;
                justify-content: center;
              }
              &.ant-pagination-item {
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                  font-size: 13px;
                  padding: 0px;
                }
              }
            }
          }
          table {
            font-size: 13px;
            th {
              font-size: 12px;
            }
            th {
              padding: 10px 8px;
              max-width: 100px;
              background-color: #99abc5;
              border-color: #99abc5;
              border-inline-end-color: #99abc5 !important;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              &:first-child {
                text-align: center;
              }
            }
            td {
              max-width: 120px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: 8px 8px 8px 8px;
              border-color: #99abc5;
              border-inline-end-color: #99abc5 !important;
              &:first-child {
                font-weight: 500;
                text-align: center;
                border-left: 1px solid #99abc5 !important;
              }
              &.ant-table-cell-row-hover {
                background-color: #e9f1ff;
              }
            }
            tr {
              &:last-child {
                td {
                  &:first-child {
                    border-bottom-left-radius: 5px;
                  }
                  &:last-child {
                    border-bottom-right-radius: 5px;
                  }
                }
              }
            }
          }
        }
        .input-data {
          @apply bg-white rounded-[8px] shadow shadow-black/10;
          .h2 {
            color: #7d838b;
            border-bottom: 1px solid #0003;
            padding: 6px 10px;
            box-shadow: 2px 2px 4px #0002;
            button.remove {
              padding: 0px;
              font-size: 15px;
              border: hidden;
              background-color: transparent !important;
              color: red;
              opacity: 0.5;
              transition: all 0.3s;
              &:hover {
                opacity: 1;
              }
            }
          }
          textarea {
            border-color: #0003;
            background-color: #e5e7eb;
            padding: 2px 4px;
            font-size: 0.7rem;
            transition: all 0.3s;
            height: 42px;
            color: #999;
            &:focus {
              border-color: #1677ff;
              height: 80px;
            }
          }
        }
        .plan-schedule {
          @apply flex flex-col gap-1 flex-1 overflow-hidden;
          .more-details {
            display: flex;
            animation: fadeInBot 0.6s ease-in-out;
            flex: 1;
            overflow: hidden;
            margin-right: 4px;
          }
          .plan-schedule-comment {
            min-width: 350px;
            @apply relative bg-white rounded-[6px] p-1 overflow-hidden shadow shadow-black/10 flex flex-col flex-1;
            .translate {
              font-size: 14px;
              color: #999;
              position: absolute;
              background-color: #fff;
              padding: 4px 6px;
              right: 0;
              border-radius: 0px 0px 0px 4px;
              box-shadow: 2px 2px 3px #0002;
              cursor: pointer;
              transition: all 0.3s;
              &:hover {
                color: #034fc2;
              }
            }
            .chat-box {
              margin-top: auto;
              padding: 8px 0px 4px 0px;
              display: flex;
              width: 100%;
              gap: 5px;
              .input {
                display: flex;
                flex: 1;
                input {
                  border-radius: 8px;
                  width: 100%;
                  font-size: 13px;
                  resize: none;
                  outline: none;
                  padding: 4px;
                }
              }
              button {
                color: #2d60b2;
                width: 40px;
                height: 34px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-radius: 6px;
                transition: all 0.3s;
                font-size: 15px;
                &:hover {
                  color: #0163ff;
                  font-weight: 500;
                  background-color: #00000013;
                }
              }
            }
            .message-box {
              display: flex;
              flex-direction: column;
              gap: 4px;
              flex: 1;
              border-radius: 6px;
              background-color: #e5e7eb;
              padding: 4px;
              box-shadow: 2px 2px 4px #0001 inset;
              overflow: auto;
              &::-webkit-scrollbar {
                width: 8px;
              }
              &::-webkit-scrollbar-track {
                background: transparent; /* Không có nền */
              }
              &::-webkit-scrollbar-thumb {
                background: #0001; /* Màu tối nhẹ để không quá nổi bật */
                border-radius: 2px; /* Bo góc */
              }
              &::-webkit-scrollbar-thumb:hover {
                background: #0002; /* Màu đậm hơn */
              }
              .message-item {
                display: flex;
                gap: 6px;
                .avatar {
                  width: 30px;
                  height: 30px;
                  border-radius: 8px;
                  background-color: #fff;
                  box-shadow: 2px 2px 4px #0002;
                }
                .message-chat {
                  display: flex;
                  flex-direction: column;
                  align-items: self-start;
                  gap: 2px;
                  max-width: 68%;
                  .name {
                    padding: 1px 4px;
                    background-color: #fff9;
                    font-size: 10px;
                    color: #4984e2;
                    border-radius: 8px;
                  }
                  .foot {
                    @apply flex justify-between relative;
                    .tools {
                      @apply flex gap-2 px-2 items-center;
                      .item {
                        display: flex;
                        border-radius: 5px;
                        font-size: 12px;
                        color: #0005;
                        cursor: pointer;
                        transition: all 0.3s;
                        align-items: center;
                        .value {
                          font-size: 9px;
                          padding: 0px;
                        }
                        &:hover {
                          color: #0077ff;
                        }
                      }
                    }
                    .time {
                      display: flex;
                      margin-left: auto;
                    }
                  }
                  .list-reply {
                    display: flex;
                    flex-direction: column;
                    background-color: #eff6ff;
                    margin-left: auto;
                    width: calc(100% - 30px);
                    border-radius: 8px;
                    margin-top: 2px;
                    position: relative;
                    box-shadow: 2px 2px 4px #0001;
                    &::before {
                      content: "Reply";
                      position: absolute;
                      font-size: 10px;
                      top: 2px;
                      color: #a8a8a8;
                      left: -28px;
                    }
                    .item {
                      display: flex;
                      gap: 6px;
                      padding: 4px;
                      &:not(:first-child) {
                        border-top: 1px solid #bcd7f9;
                      }
                      .avatar {
                        width: 30px;
                        height: 30px;
                        border-radius: 8px;
                        background-color: #fff;
                        box-shadow: 2px 2px 4px #0002;
                      }
                      .msg {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        .rl-name {
                          font-size: 10px;
                          color: #4984e2;
                          border-radius: 8px;
                        }
                        .rl-msg {
                          padding: 2px;
                          font-size: 13px;
                          min-width: 140px;
                        }
                        .rl-time {
                          display: flex;
                          align-items: center;
                          gap: 6px;
                          width: 100%;
                          font-size: 10px;
                          color: #b2b2b2;
                          justify-content: end;
                          .itx {
                            align-items: center;
                            border-radius: 50%;
                            padding: 1px;
                            font-size: 12px;
                            color: #0005;
                            cursor: pointer;
                            transition: all 0.3s;
                            display: flex;
                            &:hover {
                              color: #0099ff;
                            }
                            .value {
                              font-size: 9px;
                            }
                          }
                        }
                      }
                    }
                  }
                  .box {
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    border-radius: 8px;
                    box-shadow: 2px 2px 4px #0001;
                    overflow: hidden;
                    width: -webkit-fill-available;
                    .reply {
                      display: flex;
                      padding-top: 2px;
                      border-radius: 5px;
                      .icon {
                        color: #999;
                        width: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      }
                      .msg {
                        padding: 0px;
                        font-size: 12px;
                        line-height: 1.2;
                        padding: 2px 0px;
                        .rl-name {
                          color: #71afff;
                          font-size: 11px;
                        }
                        .rl-msg {
                          padding: 2px 0px;
                          color: #999;
                        }
                      }
                    }
                    .msg {
                      padding: 6px 12px 2px 12px;
                      font-size: 14px;
                    }
                    &.reply {
                      .reply {
                        .msg {
                          padding: 0px 4px 0px 4px;
                        }
                      }
                      .msg {
                        padding-top: 2px;
                      }
                    }
                    .time {
                      font-size: 10px;
                      padding: 4px 4px 4px 14px;
                      color: #b2b2b2;
                      text-align: right;
                    }
                  }
                }
                &.me {
                  flex-direction: row-reverse;
                  &.reply {
                    flex-direction: column;
                  }
                  .message-chat {
                    margin-left: auto;
                  }
                }
              }
            }
          }
          .plan-schedule-history {
            @apply bg-white rounded-[6px] shadow shadow-black/10 flex flex-col flex-1;
            max-width: 350px;
          }
        }
        .plan-schedule-calendar {
          @apply flex shadow-black/10 shadow flex-col rounded-lg mr-1 bg-white overflow-hidden;
          animation: fadeInBot 0.4s ease-in-out;
          table {
            width: 100%;
            thead {
              th {
                font-size: 11px;
                font-weight: 500;
                color: #72828e;
                padding: 8px 0px 8px 0px;
                border-top: 1px solid #0003;
              }
            }
            tbody {
              tr {
                td {
                  border: 1px solid #0003;
                  font-size: 13px;
                  padding: 3px 4px 3px 4px;
                  text-align: center;
                  color: #25263a;
                  background-color: #eee;
                  &.name {
                    color: #373d5e;
                    background-color: #fff;
                    text-align: center;
                    max-width: 50px;
                    padding: 0px;
                  }
                  &.line {
                    color: #373d5e;
                    background-color: #fff;
                    font-weight: 500;
                    font-size: 15px;
                    text-align: center;
                    max-width: 50px;
                    padding: 0px;
                  }
                  &.product {
                    color: #373d5e;
                    background-color: #fff;
                    text-align: center;
                    max-width: 50px;
                    padding: 0px;
                    font-weight: 500;
                  }
                  &:last-child {
                    &.end {
                      color: #000;
                      background-color: #fff;
                      width: 136px;
                      border-right: hidden;
                      padding: 3px 6px 3px 6px;
                      .value {
                        display: flex;
                        justify-content: space-between;
                        width: 120px;
                        .percent {
                          font-weight: 500;
                        }
                      }
                      .bar {
                        height: 10px;
                        border: 1px solid rgba(0, 0, 0, 0.522);
                        border-radius: 4px;
                        width: 120px;
                        background-color: #fff;
                        overflow: hidden;
                        .progress {
                          background-color: #89a1c8;
                          height: 10px;
                        }
                      }
                    }
                  }
                  &.line {
                    border-left: hidden;
                  }
                }
              }
            }
          }
        }
      }
      .list_plan {
        @apply flex overflow-hidden shadow shadow-black/10 flex-col bg-white rounded-lg w-[350px];
        animation: fadeInRight 0.4s ease-in-out;
        .search {
          @apply flex justify-between p-1 gap-1;
          border-bottom: 1px solid #0004;
          .ant-picker-input {
            input {
              font-size: 12px !important;
              width: 64px;
            }
          }
          .add {
            border: 1px solid #0003;
            border-radius: 6px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            color: #999;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
              border: 1px solid #006eff;
              color: #006eff;
            }
          }
          .ant-select-selector {
            font-size: 12px !important;
            padding: 4px 8px;
          }
        }
        .items {
          @apply flex flex-col overflow-auto;
          .item {
            @apply relative flex flex-col p-1 px-2 text-[13px] text-[#2f3849] transition-all duration-300;
            &:not(:last-child) {
              border-bottom: 1px solid #0003;
            }
            &:hover {
              color: #010314;
              cursor: pointer;
              background-color: #f1f3fc;
            }
            .rate {
              position: absolute;
              right: 5px;
              top: 5px;
            }
            .details {
              @apply flex justify-between items-center mt-1;
              .status {
                @apply text-[9px] font-[500];
                &.working {
                  color: #d89c1b;
                }
              }
              .comment {
                display: flex;
                align-items: center;
                padding: 0px 6px;
                border-radius: 4px;
                background-color: #cdd5e0;
                box-shadow: 2px 2px 3px #fff3;
                height: 28px;
                .user {
                  font-size: 10px;
                  font-weight: bold;
                  color: #555;
                  max-width: 0px;
                  overflow: hidden;
                  transition: all 0.3s;
                  white-space: nowrap;
                }
                &:hover {
                  .user {
                    max-width: 120px;
                    margin-left: 5px;
                    margin-right: 3px;
                  }
                }
                .avatar {
                  border-radius: 50%;
                  background-color: rgb(34, 115, 207);
                  width: 22px;
                  height: 22px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #fff;
                  font-size: 8px;
                  overflow: hidden;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
                .msg {
                  width: 200px;
                  border-radius: 4px;
                  font-size: 11px;
                  padding: 3px 5px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }
            .name {
              @apply font-[500] flex items-center gap-2 pb-1;
            }
            .target {
              @apply flex items-center justify-start gap-0.5;
              .op {
                @apply justify-center flex p-1 px-2 rounded-[4px] font-medium items-baseline gap-0.5;
                background-color: #d6d6d6;
                transition: all 0.3s;
                max-width: 130px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                justify-content: flex-start;
                &:hover {
                  color: #000;
                  background-color: #c2c2c2;
                }
                .ea {
                  @apply text-[10px] font-normal;
                }
              }
            }
            &.done {
              background-color: #f7fcf7;
              &:hover {
                background-color: #ecffec;
              }
              .rate,
              .name {
                color: green;
              }
              .status {
                color: #fff;
                background-color: green;
                padding: 2px 4px;
                border-radius: 4px;
              }
            }
            &.wait {
              .rate,
              .name {
                color: #ff4800;
              }
              .target {
                .op {
                  background-color: #ffc2aa;
                }
              }
              .status {
                color: #fff;
                background-color: rgb(221, 75, 30);
                padding: 2px 4px;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
  }
  .top-container {
    @apply flex justify-between z-10 bg-white border-b-1 border-[#0003] h-[40px];
    .router {
      @apply flex p-1 px-2;
      -webkit-app-region: drag;
      .view {
        @apply flex items-center gap-1;
        .breadcrumb {
          @apply flex items-center gap-1 rounded-md flex-nowrap min-w-[300px];
          -webkit-app-region: no-drag;
          .icon {
            @apply text-xs mt-1 text-gray-500 mr-1;
          }
          a {
            @apply px-1 text-left text-[13px] font-medium text-[#0007] no-underline;
          }
          div {
            @apply flex flex-nowrap;
            a {
              white-space: nowrap;
            }
          }
        }
      }
    }
    .app-tools {
      @apply flex gap-2;
      .search {
        @apply flex items-center !p-0;
        .searchbox {
          @apply flex border border-[#8ca3b3] items-center text-gray-500 bg-[#edeeee] shadow-inner shadow-black/10 rounded-lg mr-4;
          -webkit-app-region: no-drag;
          input {
            outline: none;
            width: 180px;
            transition: all 0.3s;
            &:focus {
              width: 200px;
            }
          }
          .icon {
            @apply flex p-1 text-xs text-[#8ca3b3];
          }
        }
      }
      .user-tools {
        @apply flex gap-1 p-1 bg-white rounded-bl-lg items-center;
        .lock {
          @apply w-7 text-[14px] text-center text-gray-500 cursor-pointer transition-all duration-300 hover:text-gray-700;
          -webkit-app-region: no-drag;
        }
        .item {
          @apply text-[#999] w-7.5 h-7.5 flex items-center justify-center rounded-md shadow-inner border border-[#e7e7e7] cursor-pointer transition-all duration-300 text-[13px];
          -webkit-app-region: no-drag;
          &:hover {
            background-color: #cfe8ff;
            color: #032d3a;
            border-color: #9fb4c9;
            box-shadow: 2px 2px 4px #0002 inset;
          }
          &.exit {
            &:hover {
              background-color: #ffc7c7;
              color: #b60000;
              border-color: #b60000;
            }
          }
        }
      }
    }
  }
}

.app-list {
  @apply flex flex-col gap-1 w-[66px] z-[100] border-r-1 border-[#0003];
  .logo {
    @apply flex items-center justify-center py-2;
    .box {
      @apply border border-white rounded-full flex items-center justify-center px-2;
      -webkit-app-region: no-drag;
    }
    img {
      @apply w-[90%] h-[90%] p-1;
    }
  }
  .app-lists {
    @apply flex h-full flex-col items-center py-1 gap-2 relative;
    .indicator {
      @apply absolute flex items-center left-0 w-[3px] transition-all h-[55px] duration-300;
      .bar {
        @apply rounded-md h-8;
        background-color: #0070d8;
      }
    }
    a {
      @apply no-underline;
    }
    .item {
      @apply text-[#0064ac] w-[55px] h-[55px] flex flex-col items-center justify-center rounded-md overflow-hidden cursor-pointer opacity-90 transition-all duration-300 gap-1 select-none hover:opacity-100 hover:bg-blue-50;
      -webkit-app-region: no-drag;
      position: relative;
      &.active {
        @apply opacity-100 bg-[#eff3ff] !text-[#0977b6];
        box-shadow: 2px 2px 4px #0001 inset;
      }
      .icon {
        @apply mt-1 flex items-center justify-center;
        img {
          @apply w-5;
        }
      }
      .unread {
        position: absolute;
        top: 2px;
        right: 2px;
        background-color: red;
        color: #fff;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        border-radius: 50%;
        font-size: 11px;
        border: 2px solid #fff;
      }
      .name {
        @apply text-[10px] font-medium;
      }
    }
  }
}
.ant-modal-root {
  -webkit-app-region: no-drag;
  .ant-modal-mask {
    -webkit-app-region: no-drag;
  }
}
.login-modal {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #1b2e47;
  .logo {
    display: flex;
    justify-content: flex-end;
    img {
      width: 80%;
    }
  }
  .form {
    -webkit-app-region: no-drag;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 400px;
    border-radius: 20px;
    animation: fadeInTop 0.4s ease-in-out;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .form button {
    align-self: flex-end;
  }
  .flex-column > label {
    color: #151717;
    font-weight: 600;
  }
  .inputForm {
    border: 1.5px solid #d6d6d6;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    transition: 0.2s ease-in-out;
    input {
      padding: 5px;
      border-radius: 6px;
      width: -webkit-fill-available;
      outline: none;
      background-color: transparent;
    }
  }
  .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
  }
  .input:focus {
    outline: none;
  }
  .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    &:hover {
      color: white !important;
      background-color: #0059ff !important;
    }
  }
  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }

  .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .btn:hover {
    border: 1px solid #2d79f3;
  }
}
.loading_box {
  display: flex;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s;
  &.fadeOut {
    opacity: 0;
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      width: 90%;
      z-index: 1;
      position: absolute;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #0003;
    }
    .loader {
      --dim: 2.4rem;
      width: var(--dim);
      height: var(--dim);
      position: relative;
      animation: spin988 2s linear infinite;
    }
    .loader {
      width: 52px;
      height: 52px;
      background: #166db9;
      display: block;
      margin: 20px auto;
      position: relative;
      box-sizing: border-box;
      animation: rotationBack 1s ease-in-out infinite reverse;
    }
    .loader::before {
      content: "";
      box-sizing: border-box;
      left: 0;
      top: 0;
      transform: rotate(45deg);
      position: absolute;
      width: 50px;
      height: 50px;
      background: #02427a;
      box-shadow: 0 0 5px #0003;
    }
    .loader::after {
      content: "";
      box-sizing: border-box;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      background: #085ea3;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
  }
}
.error-box {
  @apply flex items-center justify-center p-4;
  .box {
    @apply flex flex-col justify-center items-center gap-3 text-red-500 text-[13px] font-semibold flex-col bg-white p-4 rounded-[6px] shadow shadow-black/10;
    .logo {
      font-size: 50px;
    }
  }
}

.whitebox {
  @apply bg-white p-1 rounded-[8px] shadow shadow-black/10;
  .header {
    border-bottom: 1px solid #0003;
    padding: 8px;
    font-size: 13px;
    font-weight: 500;
  }
  &.back-btn {
    @apply flex items-center gap-2 !p-2 !px-3 text-nowrap 
    text-[#7c7c7c] hover:text-[#000] transition-all 
    duration-300 cursor-pointer;
  }
  .items {
    @apply flex flex-col overflow-auto;
    .item {
      @apply relative flex flex-col p-1 px-2 text-[13px] text-[#767a83];
      transition: color 0.3s ease-in-out;
      &:not(:last-child) {
        border-bottom: 1px solid #0003;
      }
      &:hover {
        color: #010314;
        cursor: pointer;
        background-color: #f1f3fc;
      }
      &.active {
        border-left: 2px solid #46a5f3fa;
        color: #085dac;
        background-color: #e3f2fffa;
      }
      .rate {
        position: absolute;
        right: 5px;
        top: 5px;
      }
      .details {
        @apply flex justify-between items-center mt-1;
        .status {
          @apply text-[9px] font-[500];
          &.working {
            color: #d89c1b;
          }
        }
        .comment {
          display: flex;
          align-items: center;
          padding: 6px;
          border-radius: 4px;
          background-color: #cdd5e0;
          box-shadow: 2px 2px 3px #fff3;
          height: 28px;
          .user {
            font-size: 10px;
            font-weight: bold;
            color: #555;
            max-width: 0px;
            overflow: hidden;
            transition: all 0.3s;
            white-space: nowrap;
          }
          &:hover {
            .user {
              max-width: 120px;
              margin-left: 5px;
              margin-right: 3px;
            }
          }
          .avatar {
            border-radius: 50%;
            background-color: rgb(34, 115, 207);
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 8px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .msg {
            width: 200px;
            border-radius: 4px;
            font-size: 11px;
            padding: 3px 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      .name {
        @apply font-[500] flex items-center gap-2 pb-1;
      }
      .target {
        @apply flex items-center justify-start gap-0.5;
        .op {
          @apply justify-center flex p-1 px-2 rounded-[4px] font-medium items-baseline gap-0.5;
          background-color: #0002;
          transition: all 0.3s;
          max-width: 100px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          justify-content: flex-start;
          &:hover {
            color: #000;
            background-color: #0003;
          }
          .ea {
            @apply text-[10px] font-normal;
          }
        }
      }
    }
  }
}
.contacts-page {
  .items {
    .contact-item {
      transition: all 0.3s;
      @apply p-2 !px-4 border-t-1 first:border-t-0 border-[#cecece] flex justify-between items-center;
      &:hover {
        background-color: #eee;
      }
      .avatar {
        @apply flex flex-1 items-center justify-center text-[#fff] text-[20px] w-16 h-16 rounded-[8px];
      }
      div {
        white-space: nowrap;
      }
      .block {
        @apply transition-all w-[180px] flex duration-300 overflow-hidden max-w-0 flex-col flex-1 ml-4;
      }
    }
  }
}
.ant-popover {
  .ant-popover-inner {
    padding: 0px !important;
    overflow: hidden;
    box-shadow: 0 6px 16px 0 #00000050, 0 3px 6px -4px #00000063,
      0 9px 28px 8px #0000000d;
    .items {
      display: flex;
      flex-direction: column;
      padding: 4px;
      .item {
        padding: 8px;
        border-radius: 4px;
        transition: all 0.3s;
        cursor: pointer;
        min-width: 160px;
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}
.ant-btn {
  &.mini {
    font-size: 13px;
    padding: 0px 8px;
  }
}
.ant-btn-more {
  width: 34px;
  height: 34px;
  padding: 0px;
  color: #999;
  &:hover {
    color: #333;
    background-color: #d6d6d6;
  }
}
.ant-btn-delete {
  width: 34px;
  height: 34px;
  padding: 0px;
  color: #bb1b1b;
  &:hover {
    color: #ffffff;
    background-color: #ff3f3f;
  }
}

.fadeInTop {
  animation: fadeInTop 0.4s ease-in-out;
}
.fadeInBot {
  animation: fadeInBot 0.4s ease-in-out;
}

.fadeInRight {
  animation: fadeInRight 0.4s ease-in-out;
}
.fadeInLeft {
  animation: fadeInLeft 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes inRight {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInBot {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInTop2 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes showDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 40px;
  /* animation: spin2 2s linear infinite; */
  animation: l7 1s infinite;
  .square {
    width: 20px;
    height: 20px;
    background-color: #2d9cdb;
    position: absolute;
    border-radius: 4px;
    &:nth-child(1) {
      top: -1px;
      left: -1px;
      background-color: #55ccf2;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      animation-delay: 0s;
      animation: bloom 2s ease-in-out infinite;
    }
    &:nth-child(2) {
      top: -1px;
      right: -1px;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      animation-delay: 0.1s;
      animation: bloom2 2s ease-in-out infinite;
    }
    &:nth-child(3) {
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      bottom: -1px;
      right: -1px;
      animation-delay: 0.2s;
      animation: bloom3 2s ease-in-out infinite;
    }
    &:nth-child(4) {
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      bottom: -1px;
      left: -1px;
      background-color: #55ccf2;
      animation-delay: 0.3s;
      animation: bloom4 2s ease-in-out infinite;
    }
  }
}

/* @keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

@keyframes bloom {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-3px, -3px) scale(1.2); /* nở ra */
  }
}

@keyframes bloom2 {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(3px, -3px) scale(1.2); /* nở ra */
  }
}

@keyframes bloom3 {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(3px, 3px) scale(1.2); /* nở ra */
  }
}

@keyframes bloom4 {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-3px, 3px) scale(1.2); /* nở ra */
  }
}
@keyframes l7 {
  to {
    transform: rotate(1turn);
  }
}
input {
  &.require {
    position: relative;
    &::before {
      content: "*dsadsa";
      width: 100px;
      height: 100px;
      color: red;
      font-size: 12px;
      margin-left: 5px;
      position: absolute;
      right: 0;
      z-index: 1;
    }
  }
}
label {
  &.btn {
    @apply flex items-center gap-2 border-1 px-3 border-[#0003] rounded-[6px];
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: #4096ff;
      border-color: #4096ff;
      background: #ffffff;
    }
  }
}
.form-baoung {
  width: 100%;
  border: 1px solid #eee;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  .whitebox {
    border-radius: 0px !important;
    box-shadow: none;
    border-bottom: 1px solid #eee;
    padding: 8px;
  }
  .ant-form-item {
    border-bottom: 1px solid #eee;
    margin-bottom: 0px;
    .ant-row {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: row !important;
      .ant-form-item-label {
        display: table-cell;
        width: 30%;
        padding: 4px 8px;
        label {
          color: #7a7a7a !important;
          position: relative;
          &::before {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 12px;
          }
        }
      }
      .ant-form-item-control {
        padding: 4px;
        border-left: 1px solid #eee;
        display: table-cell;
        width: 70%;
      }
    }
  }
}
.form-nguoikhac {
  gap: 4px;
  .item {
    display: flex;
    font-size: 13px;
    select {
      padding: 0px;
    }
    .value {
      margin-left: auto;
    }
  }
}
.room_main {
  display: flex;
  overflow: hidden;
  flex: 1;
  position: relative;
  .room_info {
    display: flex;
    flex-direction: column;
    flex: 1;
    .send_tool {
      background-color: #fff;
      border-top: 1px solid #d6d6d6;
    }
    .chat_view {
      display: flex;
      flex: 1;
    }
    .top_info {
      display: flex;
      background-color: #fff;
      height: 60px;
      border-bottom: 1px solid #d6d6d6;
      align-items: center;
      padding: 8px;
      gap: 8px;
      .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 20px;
        border-radius: 12px;
        width: 40px;
        height: 40px;
        margin: 0px 2px;
        background-color: #588dff;
      }
    }
  }
  .room_config {
    background-color: #fff;
    width: 300px;
    border-left: 1px solid #d6d6d6;
    .title {
      display: flex;
      align-items: center;
      padding: 12px;
      font-size: 16px;
      font-weight: 500;
      justify-content: center;
      height: 60px;
      border-bottom: 1px solid #d6d6d6;
    }
  }
}
.emoji {
  .epr_-6npj90 {
    --epr-category-navigation-button-size: 23px !important;
  }
  .epr-category-nav {
    padding: 8px 8px 8px 8px;
    border-top: 1px solid #cccccc;
    box-shadow: 0px -2px 3px #0003;
  }
  h2 {
    font-size: 12px;
    font-weight: 600;
    background-color: #fff;
    height: auto !important;
    padding-bottom: 3px;
    padding-top: 8px;
    /* position: relative !important; */
  }
  aside {
    flex-direction: column-reverse;
    box-shadow: 0px 0px 4px #0003;
  }
  aside > div:last-child {
    display: none;
  }
  .epr-emoji-category[data-name="objects"],
  .epr-emoji-category[data-name="travel_places"],
  .epr-emoji-category[data-name="symbols"],
  .epr-emoji-category[data-name="flags"] {
    display: none !important;
  }
  button {
    transition: all 0.3s;
    border: none !important;
    &:active {
      color: #003c91;
    }
    &.epr-btn[aria-label="Travel & Places"],
    &.epr-btn[aria-label="Objects"],
    &.epr-btn[aria-label="Symbols"],
    &.epr-btn[aria-label="Flags"] {
      display: none !important;
    }
  }
}
.role-item {
  position: relative;
  &::before {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    left: -22px;
    background-color: #0099ff;
    border: 1px solid #fff;
    content: "";
    position: absolute;
  }
}
.chat_items {
  display: flex;
  flex-direction: column;
  padding: 4px 4px;
  gap: 4px;
  .item {
    display: flex;
    padding: 8px;
    color: #000000;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    transition: all 0.3s;
    border-radius: 8px;
    .avatar {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      overflow: hidden;
      transition: all 0.3s;
      background-color: #359eff;
      color: #fff;
    }
    .msg {
      font-size: 13px;
      color: #999;
    }
    &:hover {
      background-color: #e9eff5;
    }
    &.active {
      background-color: #c8e4ff;
    }
  }
}
.chat-input {
  border: none !important;
  background-color: transparent;
  resize: none !important;
  box-shadow: none !important;
  &::placeholder {
    color: #bbbbbb;
  }
}
.list-one {
  display: flex;
  flex-direction: column;
  gap: 6px;
  .item {
    display: flex;
    padding: 8px;
    background-color: #c3c9d3;
    border-radius: 6px;
    color: #3d3e42;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    transition: all 0.3s;
    .avatar {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden;
      transition: all 0.3s;
      box-shadow: 1px 2px 3px #0003;
    }
    &:hover {
      background-color: #0070d8;
      color: #ffffff;
      .avatar {
        color: #0059ff;
      }
    }
  }
}
.popupcontent {
  .ant-modal-content {
    padding: 0px;
    button.ant-modal-close {
      top: 8px;
      right: 8px;
      position: absolute;
      transition: all 0.3s;
      &:hover {
        transform: rotate(90deg);
        color: red !important;
        background-color: transparent;
      }
    }
    .ant-modal-header {
      padding: 12px;
      border-bottom: 1px solid #0003;
      box-shadow: 2px 2px 4px #0003;
    }
    .ant-modal-body {
      padding: 8px 12px;
    }
    .ant-modal-footer {
      padding: 12px;
    }
    .ant-descriptions-view {
      table {
        tr {
          th,
          td {
            padding: 8px !important;
          }
        }
      }
    }
  }
}
.shadow-bot {
  box-shadow: -2px 2px 3px #cecece;
}
.vendor-edit {
  .ant-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .ant-form-item {
      margin-bottom: 0px;
      .ant-form-item-row {
        display: flex;
        flex-direction: row !important;
        flex-wrap: nowrap;
        align-items: center;
        .ant-form-item-label {
          display: flex;
          min-width: 30%;
          .ant-form-item-control-input {
            margin-left: auto;
          }
        }
        .ant-form-item-control {
          display: flex;
        }
      }
    }
  }
}
.card-format {
  .ant-descriptions-item {
    padding-bottom: 0px !important;
  }
  .ant-descriptions-item-content {
    display: flex !important;
    margin-left: auto;
    justify-content: flex-end;
  }
}
.thinform {
  .ant-form-item {
    margin-bottom: 8px;
  }
}
button {
  &.chat_tools {
    border: 1px solid #fff;
    padding: 6px;
    border-radius: 6px;
    color: #999;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      color: #0099ff;
      border: 1px solid #0099ff;
      background-color: #daf0ff;
    }
    &.active {
      color: #fff;
      border: 1px solid #0099ff;
      background-color: #0099ff;
    }
  }
}
