@import "tailwindcss";

/* Left side */
.login-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-container{
    /*  hidden md:block w-1/2 p-2 bg-gray-50" */
    display: none;
    display: block;
    width: 50%;
    padding: 0.5rem;
    margin-left: 10px;
}

/* Right side */
.login-container{
    padding: 0.5rem;
    margin-right: 10px;
}
.header{
    /* text-2xl font-bold text-blue-600 mb-2 */
    font-size: 26px;
    font-weight: bold;
    color: blue;
}
.item{
    .name{
        display: block;
        color: gray;
        font-size: medium;
    }
    .value{
        width: 70% !important;
        border: 2px solid gray;
        border-radius: 2px;
    }
}
.hi{
    font-size: 18px;
    color: blue;
    margin-bottom: 6px;
}
.login-box{
    .form{
        .value{
            color: gray !important;
            border: 1px solid gray;
            border-radius: 3px;
        }
        input{
            outline: none !important; 
            border: none !important;
            &.input-login{
                outline: none !important; 
                border: none !important;
            }
        }
    }   
    button {
        @apply h-[40px] w-full transition-all duration-300;
        font-size: 13px;
        &.login-btn{
            background-color: #3700ff;
            color: rgb(224, 224, 224);
            &:hover{
                background-color: #2400c4 !important;
                color: white !important;
            }
        }
    }
    
}
.exit{
    margin-top: 1px;
    color: gray;
    font-size: 13px;
    cursor: pointer;
    &:hover{
        color: black;
        text-decoration: underline;
    }
    
}
.app-version{
    margin-top: 80px;
    color: black;
    font-size: 13px;
    display: flex;
    margin-left: 100px;
}
.logo{
        margin-left: 20px;
    }